</div>
    <footer class="mt-5 p-3 text-center text-muted">
        <p>Copyrights&copy; Books Library | Adnan Malik. All rights reserved.</p>
    </footer>

    <script  src="/js/main.js"></script>
</body>
</html>
